@{
    ViewBag.Title = "PickSeat";
    Layout = "~/Views/Shared/HeaderFooter.cshtml";
}

<script type="text/javascript" src="~/Scripts/jquery.seat-charts.min.js"></script>

@using CinemaInformationSystemProject.Models
@{
    Show show = Model;
    string[] arr = show.showDate.Split('/');
    DateTime dt = new DateTime(int.Parse(arr[2]), int.Parse(arr[0]), int.Parse(arr[1]));
    string sDate = dt.ToString("MMM dd ,yyyy");
}


@{
    List<Ticket> bookedTickets = ViewBag.bookedTickets;
    string values = "";
    foreach (Ticket ticket in bookedTickets)
    {
        values = values  + ticket.seatNo.Trim() + ",";
    }

    if (values != "")
    {
        values = values.Remove(values.Length - 1);
    }
}

<div style="display:none" id="pickedSeats">@values</div>


<script>
    function fun() {
        var ulChildren = document.getElementById('selected-seats').children;
        var str = [];
        for (i = 0 ; i < ulChildren.length ; i++) {
            str[str.length] = ulChildren[i].innerHTML;
        }

        var amount = document.getElementById("total").innerHTML;        //total amount
        

        var index = document.getElementById("paymentMethod").selectedIndex;
        var paymentWay = document.getElementById("paymentMethod").options[index].text;        //payment methods

        var paymentNum = document.getElementById("paymentNumber").value;     //paymentNumber
        if (paymentNum == "")
        {
            alert("Enter payment number");
            return false;
        }

        var thisshowid = @show.showId
        
        

        $.ajax({
            type: "POST",
            url: "/Booking/bookSeats",
            data: JSON.stringify({ arr: str, showId: thisshowid , totalAmount:amount , paidWay:paymentWay , paidNumber:paymentNum }),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: false,
            success: function (data) { alert("Your booking has been done."); window.location='/Home'},
            error: function (xhr) {
                alert("Unable to register tickets.")
            }
        });


        return false;
    }
</script>

<style>
    * {
        color: black;
    }
</style>
<div class="container" style="color:black;">
    <div id="seat-map" class="col-sm-6">
        <div class="front">SCREEN</div>
    </div>
    <div class="booking-details col-sm-6">
        <p>Movie: <span> @show.Movie.movieName</span></p>
        <p>Location: <span> @show.Gallery.galleryName</span></p>
        <p>Date: <span>@sDate </span></p>
        <p>Time: <span>@show.showTime</span></p>
        <p>Seat: </p>
        <ul id="selected-seats"></ul>
        <p>Tickets: <span id="counter">0</span></p>
        <p>Total: <b><span id="total">0</span></b> Rs</p>
        <form>
            <p>
                Payment Method:
                <select name="paymentMethod" id="paymentMethod">
                    <option>Credit Card</option>
                    <option>Net Banking</option>
                    <option>Cash/Mobile Card</option>
                </select>
            </p>
            <p>
                <input type="text" id="paymentNumber" placeholder="Enter Transaction number" />
            </p>
            <button class="btn-info" id="checkout-button" onclick="return fun();">BUY</button>
        </form>
        <div id="legend"></div>
    </div>
    <div style="clear:both"></div>
</div>


<style>
    .front {
        width: 300px;
        margin: 5px 32px 45px 32px;
        background-color: #f0f0f0;
        color: #666;
        text-align: center;
        padding: 3px;
        border-radius: 5px;
    }

    .booking-details {
        float: right;
        position: relative;
        width: 200px;
    }

        .booking-details h3 {
            margin: 5px 5px 0 0;
            font-size: 16px;
        }

        .booking-details p {
            line-height: 26px;
            font-size: 16px;
            color: #999;
        }

            .booking-details p span {
                color: #46b8da;
            }

    div.seatCharts-cell {
        color: white;
        height: 25px;
        width: 25px;
        line-height: 25px;
        margin: 3px;
        float: left;
        text-align: center;
        outline: none;
        font-size: 13px;
    }

    div.seatCharts-seat {
        color: #fff;
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    div.seatCharts-row {
        height: 35px;
    }

    div.seatCharts-seat.available {
        background-color: #B9DEA0;
    }

    div.seatCharts-seat.focused {
        background-color: #76B474;
        border: none;
    }

    div.seatCharts-seat.selected {
        background-color: #E6CAC4;
    }

    div.seatCharts-seat.unavailable {
        background-color: #472B34;
        cursor: not-allowed;
    }

    div.seatCharts-container {
        float: left;
    }

    div.seatCharts-legend {
        padding-left: 0px;
        bottom: 16px;
    }

    ul.seatCharts-legendList {
        padding-left: 0px;
    }

    .seatCharts-legendItem {
        float: left;
        width: 90px;
        margin-top: 10px;
        line-height: 2;
    }

    span.seatCharts-legendDescription {
        margin-left: 5px;
        line-height: 30px;
        color: white;
    }

    .checkout-button {
        display: block;
        width: 80px;
        height: 24px;
        line-height: 20px;
        margin: 10px auto;
        border: 1px solid #999;
        font-size: 14px;
        cursor: pointer;
    }

    #selected-seats {
        max-height: 150px;
        overflow-y: auto;
        overflow-x: none;
        width: 200px;
    }

        #selected-seats li {
            float: left;
            width: 72px;
            height: 26px;
            line-height: 26px;
            border: 1px solid #d3d3d3;
            background: #f7f7f7;
            margin: 6px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
        }
</style>

<script>
    var price = @show.ShowTypeDetail.price //price
    $(document).ready(function () {
        $cart = $('#selected-seats'), //Sitting Area
        $counter = $('#counter'), //Votes
        $total = $('#total'); //Total money

        var sc = $('#seat-map').seatCharts({
            map: [  //Seating chart
                'aaaaaaaaaa',
                'aaaaaaaaaa',
                'aaaaaaaaaa',
                'aaaaaaaaaa',
                'aaaaaaaaaa',
                'aaaaaaaaaa',
                'aaaaaaaaaa',
                'aaaaaaaaaa',
                'aaaaaaaaaa',
                'aaaaaaaaaa'
            ],
            naming: {
                top: false,
                getLabel: function (character, row, column) {
                    return column;
                }
            },
            legend: { //Definition legend
                node: $('#legend'),
                items: [
                    ['a', 'available', 'Option'],
                    ['a', 'unavailable', 'Sold']
                ]
            },
            click: function () { //Click event
                if (this.status() == 'available') { //optional seat
                    $('<li>' + (this.settings.row + 1) + '_' + this.settings.label + '</li>')
                        .attr('id', 'cart-item-' + this.settings.id)
                        .data('seatId', this.settings.id)
                        .appendTo($cart);

                    $counter.text(sc.find('selected').length + 1);
                    $total.text(recalculateTotal(sc) + price);

                    return 'selected';
                } else if (this.status() == 'selected') { //Checked
                    //Update Number
                    $counter.text(sc.find('selected').length - 1);
                    //update totalnum
                    $total.text(recalculateTotal(sc) - price);

                    //Delete reservation
                    $('#cart-item-' + this.settings.id).remove();
                    //optional
                    return 'available';
                } else if (this.status() == 'unavailable') { //sold
                    return 'unavailable';
                } else {
                    return this.style();
                }
            }
        });
        //sold seat

        var reserved = document.getElementById("pickedSeats").innerHTML.toLocaleString()
        //var abc = reserved.split("\,",reserved.)
        //var some_variable = 'to=' + [reserved];
        //sc.get(reserved).status('unavailable');

        var arr = reserved.split(",");
        //for (i = 0; i < arr.length; i++) {
        //sc.get(arr[i]).status('unavailable');
        sc.get(arr).status('unavailabale');
        //}


    });
    //sum total money
    function recalculateTotal(sc) {
        var total = 0;
        sc.find('selected').each(function () {
            total += price;
        });

        return total;
    }
</script>
